USE [DBAFramework];
GO

SET ANSI_NULLS ON
GO

SET QUOTED_IDENTIFIER ON
GO

CREATE OR ALTER PROCEDURE [cfg].[usp_ValidatePitrCanary]
    @SourceDB   SYSNAME,
    @TargetDB   SYSNAME,
    @Token      NVARCHAR(64)
AS
/*==============================================================================
  Procedure : cfg.usp_ValidatePitrCanary
  Project   : SQL Server Recovery & Validation Framework
  Author    : Dan Levi Menchaca Bedolla
  Role      : SQL Server DBA / Data Infrastructure & Reliability Engineering
  Created   : 2026
  Component : Recovery Validation Engine

  Purpose   :
      Validates the correctness of a point-in-time recovery test by comparing
      canary records inserted before, at, and after the marked transaction
      boundary between source and restored target databases.

      The procedure:
      - Verifies canary presence in source database
      - Verifies expected canary state in restored target database
      - Determines whether STOPBEFOREMARK was respected
      - Returns a structured validation contract for persistence and analysis

  Inputs    :
      @SourceDB
      @TargetDB
      @Token      

  Outputs   :
      Validation results including:
      - source and target evidence flags
      - CanaryValidated
      - CanaryPassed
      - CanaryMessage

  Dependencies :
      dbo.PitrCanary table in source and restored target databases

  Used By   :
      cfg.usp_RunRestoreTests

  Notes     :
      This procedure provides functional validation of PITR correctness.
      It is the verification layer that confirms whether the restore stopped
      at the intended logical boundary rather than relying only on metadata.
==============================================================================*/
BEGIN
    -------------------------------------------------------------------------
    -- INPUT VARIABLES (FOR DEBUG-MODE DE-COMENTARIZE)
    -------------------------------------------------------------------------
    --DECLARE 
    --    @SourceDB   SYSNAME = 'AdventureWorks2022',
    --    @TargetDB   SYSNAME = 'AdventureWorks2022_RestoreTest',
    --    @Token      NVARCHAR(64) = '6C4E87BA49CB4DEA808AACD19CB34DB6';

    SET NOCOUNT ON;
    -------------------------------------------------------------------------
    -- NORMALIZE INPUT-DATA
    -------------------------------------------------------------------------
    SET @SourceDB = LTRIM(RTRIM(@SourceDB));
    SET @TargetDB = LTRIM(RTRIM(@TargetDB));
    SET @Token = REPLACE(REPLACE(LTRIM(RTRIM(@Token)), N'-', N''), N' ', N'');
    -------------------------------------------------------------------------
    -- VALIDATE SOURCE & TARGET DATABASES EXISTS
    -------------------------------------------------------------------------
    IF DB_ID(@SourceDB) IS NULL
        BEGIN 
            RAISERROR('Specified Source-DB [%s] does not exists. ', 16, 1, @SourceDb);
            RETURN;
        END;
    
    IF DB_ID(@TargetDB) IS NULL
        BEGIN 
            RAISERROR('Specified Target-DB [%s] does not exists. ', 16, 1, @TargetDb);
            RETURN;
        END;
   
    /* LOCAL VARIABLES */
    DECLARE
        @B              NVARCHAR(128) = N'PITR_BEFORE_' + @Token,
        @M              NVARCHAR(128) = N'MARK_' + @Token,
        @A              NVARCHAR(128) = N'PITR_AFTER_' + @Token,    
        @HasBeforeSrc   INT = 0,    @HasMarkSrc     INT = 0,    @HasAfterSrc INT = 0,
        @HasBeforeTgt   INT = 0,    @HasMarkTgt     INT = 0,    @HasAfterTgt INT = 0,
        @Sql            NVARCHAR(MAX),
        @StartedAt      DATETIME2(3) = SYSDATETIME();    
    -------------------------------------------------------------------------
    -- SEARCH FOR CANARYS IN SOURCE & TARGET DATABASES
    -------------------------------------------------------------------------
    SET @Sql = N'
IF OBJECT_ID(''' + QUOTENAME(@SourceDB) + N'.dbo.PitrCanary'', ''U'') IS NULL
    RAISERROR(''PitrCanary table not found in source database.'', 16, 1);

IF OBJECT_ID(''' + QUOTENAME(@TargetDB) + N'.dbo.PitrCanary'', ''U'') IS NULL
    RAISERROR(''PitrCanary table not found in target database.'', 16, 1);

SELECT
    @HasBeforeSrc = CASE WHEN EXISTS (SELECT 1 FROM ' + QUOTENAME(@SourceDB) + N'.dbo.PitrCanary WHERE CanaryName = @B) THEN 1 ELSE 0 END,
    @HasMarkSrc   = CASE WHEN EXISTS (SELECT 1 FROM ' + QUOTENAME(@SourceDB) + N'.dbo.PitrCanary WHERE CanaryName = @M) THEN 1 ELSE 0 END,
    @HasAfterSrc  = CASE WHEN EXISTS (SELECT 1 FROM ' + QUOTENAME(@SourceDB) + N'.dbo.PitrCanary WHERE CanaryName = @A) THEN 1 ELSE 0 END,

    @HasBeforeTgt = CASE WHEN EXISTS (SELECT 1 FROM ' + QUOTENAME(@TargetDB) + N'.dbo.PitrCanary WHERE CanaryName = @B) THEN 1 ELSE 0 END,
    @HasMarkTgt   = CASE WHEN EXISTS (SELECT 1 FROM ' + QUOTENAME(@TargetDB) + N'.dbo.PitrCanary WHERE CanaryName = @M) THEN 1 ELSE 0 END,
    @HasAfterTgt  = CASE WHEN EXISTS (SELECT 1 FROM ' + QUOTENAME(@TargetDB) + N'.dbo.PitrCanary WHERE CanaryName = @A) THEN 1 ELSE 0 END;';
    
    EXEC sys.sp_executesql
        @Sql,
        N'@B nvarchar(128), @M nvarchar(128), @A nvarchar(128),
          @HasBeforeSrc bit OUTPUT, @HasMarkSrc bit OUTPUT, @HasAfterSrc bit OUTPUT,
          @HasBeforeTgt bit OUTPUT, @HasMarkTgt bit OUTPUT, @HasAfterTgt bit OUTPUT',
        @B=@B, @M=@M, @A=@A,
        @HasBeforeSrc=@HasBeforeSrc OUTPUT, @HasMarkSrc=@HasMarkSrc OUTPUT, @HasAfterSrc=@HasAfterSrc OUTPUT,
        @HasBeforeTgt=@HasBeforeTgt OUTPUT, @HasMarkTgt=@HasMarkTgt OUTPUT, @HasAfterTgt=@HasAfterTgt OUTPUT;
    -------------------------------------------------------------------------
    -- SHOW CONTRACT - EXEC HISTORY
    -------------------------------------------------------------------------
    BEGIN
        PRINT '';
        PRINT '------------------------------';    
        PRINT 'DBG Procedure    =[cfg].[usp_ValidatePitrCanary]';
        PRINT 'DBG SourceDB     =' + QUOTENAME(@SourceDB);
        PRINT 'DBG TargetDB     =' + QUOTENAME(@TargetDB);
        PRINT 'DBG Started at   =' + QUOTENAME(SYSDATETIME());
        PRINT '';
        PRINT 'DBG Canary Before=' + QUOTENAME(@B);
        PRINT 'DBG Canary Mark  =' + QUOTENAME(@M);
        PRINT 'DBG Canary After =' + QUOTENAME(@A);
        PRINT '';
        PRINT '             BEFORE       MARK        AFTER'
        PRINT 'SOURCE         ' + CAST(@HasBeforeSrc AS CHAR(1)) + '            ' + CAST(@HasMarkSrc AS CHAR(1)) + '           ' + CAST(@HasAfterSrc AS CHAR(1));
        PRINT 'TARGET         ' + CAST(@HasBeforeTgt AS CHAR(1)) + '            ' + CAST(@HasMarkTgt AS CHAR(1)) + '           ' + CAST(@HasAfterTgt AS CHAR(1));
        PRINT '';

        IF  @HasBeforeSrc = 1 AND     @HasMarkSrc = 1 AND   @HasAfterSrc = 1 AND -- <-- VALIDATES THE 3 MARKS EXISTS IN SOURCE DB
            @HasBeforeTgt = 1 AND     @HasMarkTgt = 0 AND   @HasAfterTgt = 0     -- <-- VALIDATES ONLY THE 1ST MARK EXIST IN TARGET DB
            PRINT 'PITR Canary VALID!: STOPBEFOREMARK respected.';
        ELSE
            PRINT 'PITR Canary FAILED.';

        PRINT '';
        PRINT 'DBG Ended at     =' + QUOTENAME(SYSDATETIME());
        PRINT 'DBG Procedure    =[cfg].[usp_ValidatePitrCanary]' 
            + ': SUCCESSFULLY RUN! IN ' 
            + FORMAT(DATEDIFF(MILLISECOND, @StartedAt, SYSDATETIME()) / 1000.0, 'N3')
            + ' seconds.';
        PRINT '------------------------------';        
    
        SELECT
            @SourceDB AS SourceDatabase, @TargetDB AS TargetDatabase,

            @B AS CanaryBeforeName, @M AS CanaryMarkName, @A AS CanaryAfterName,

            @HasBeforeSrc AS SourceBeforeExists, @HasMarkSrc AS SourceMarkExists, @HasAfterSrc AS SourceAfterExists,
            @HasBeforeTgt AS TargetBeforeExists, @HasMarkTgt AS TargetMarkExists, @HasAfterTgt  AS TargetAfterExists,

            CAST(   CASE
                    WHEN    @HasBeforeSrc IS NOT NULL AND @HasMarkSrc IS NOT NULL AND @HasAfterSrc  IS NOT NULL
                        AND @HasBeforeTgt IS NOT NULL AND @HasMarkTgt IS NOT NULL AND @HasAfterTgt  IS NOT NULL
                    THEN 1 ELSE 0 END AS BIT) AS CanaryValidated,
            CAST(   CASE
                    WHEN    @HasBeforeSrc = 1 AND @HasMarkSrc   = 1 AND @HasAfterSrc  = 1
                        AND @HasBeforeTgt = 1 AND @HasMarkTgt   = 0 AND @HasAfterTgt  = 0
                    THEN 1 ELSE 0 END AS BIT) AS CanaryPassed,
            CASE 
                WHEN @HasBeforeSrc = 1 AND @HasMarkSrc = 1 AND @HasAfterSrc = 1 AND @HasBeforeTgt = 1 AND @HasMarkTgt = 0 AND @HasAfterTgt = 0 THEN N'PITR Canary VALID: STOPBEFOREMARK respected. BEFORE exists in target; MARK and AFTER are absent.'
                WHEN @HasBeforeSrc <> 1 OR @HasMarkSrc <> 1 OR @HasAfterSrc <> 1 THEN N'PITR Canary INVALID SOURCE: source database does not contain the full expected BEFORE/MARK/AFTER pattern.'
                WHEN @HasBeforeTgt <> 1 THEN N'PITR Canary INVALID TARGET: BEFORE row is missing in restored target database.'
                WHEN @HasMarkTgt <> 0 THEN N'PITR Canary INVALID TARGET: MARK row exists in restored target database; STOPBEFOREMARK was not respected.'
                WHEN @HasAfterTgt <> 0 THEN N'PITR Canary INVALID TARGET: AFTER row exists in restored target database; restore crossed the expected stop boundary.'
                ELSE N'PITR Canary validation completed, but result does not match the expected STOPBEFOREMARK pattern.'
            END AS CanaryMessage;
    END;    
END;
