USE [DBAFramework];
GO

SET ANSI_NULLS ON
GO

SET QUOTED_IDENTIFIER ON
GO

CREATE OR ALTER PROCEDURE [cfg].[usp_RunRestoreTests]
    @DatabaseList        NVARCHAR(MAX) = 'LabCriticalDB',   -- CSV: 'DB1,DB2'. If NULL => all user DBs
    @PrimaryDir          NVARCHAR(260) = N'C:\BD\Backup\PRIMARY\',
    @SecondaryDir        NVARCHAR(260) = N'C:\BD\Backup\SECONDARY\',
    @UseMirror           BIT = 0,
    @DoCheckDB           BIT = 1,
    @ReplaceTarget       BIT = 1,
    @KeepTargetDb        BIT = 1,
    @Debug               BIT = 0
AS
/*==============================================================================
  Procedure : cfg.usp_RunRestoreTests
  Project   : SQL Server Recovery & Validation Framework
  Author    : Dan Levi Menchaca Bedolla
  Role      : SQL Server DBA / Data Infrastructure & Reliability Engineering
  Created   : 2026
  Component : Recovery Orchestration Engine
  
  Purpose   :
      Orchestrates automated restore validation tests across one or more
      databases by generating canary evidence, producing marked recovery
      boundaries, executing restore workflows, and validating logical
      recoverability.

      This procedure:
      - Selects databases to be tested
      - Generates BEFORE / MARK / AFTER canary records
      - Produces log backups required for restore validation
      - Invokes cfg.usp_RestorePointInTime
      - Invokes cfg.usp_ValidatePitrCanary
      - Persists validation evidence into restore telemetry tables
      - Enables repeatable recovery testing as an operational practice

  Inputs    :
      @DatabaseList
      @PrimaryDir
      @SecondaryDir
      @UseMirror
      @DoCheckDB
      @ReplaceTarget
      @KeepTargetDb
      @Debug

  Outputs   :
      - Runtime execution trace for operator visibility
      - Restore validation evidence persisted into [log].[RestoreTestRun]
      - Step execution detail persisted into [log].[RestoreStepExecution]
      - Structured result sets summarizing restore and validation outcomes

  Dependencies :
      cfg.usp_RestorePointInTime
      cfg.usp_ValidatePitrCanary
      cfg.usp_BackupDatabase
      dbo.PitrCanary
      log.RestoreTestRun
      log.RestoreStepExecution

  Used By   :
      Manual recovery validation workflows
      Scheduled recovery testing jobs
      Disaster recovery readiness exercises

  Notes     :
      This procedure is the orchestration layer of the recovery validation
      framework. It transforms backup recoverability into a measurable,
      testable, and auditable process.
==============================================================================*/
BEGIN
    -------------------------------------------------------------------------
    -- INPUT VARIABLES (FOR DEBUG-MODE DE-COMENTARIZE)
    -------------------------------------------------------------------------
    --DECLARE 
    --    @DatabaseList        NVARCHAR(MAX) = 'AdventureWorks2022,VLFDemo',   -- CSV: 'DB1,DB2'. If NULL => all user DBs
    --    @PrimaryDir          NVARCHAR(260) = N'C:\BD\Backup\CANARY_TEST',
    --    @SecondaryDir        NVARCHAR(260) = N'C:\BD\Backup\CANARY_TEST',
    --    @UseMirror           BIT = 0,
    --    @DoCheckDB           BIT = 1,
    --    @ReplaceTarget       BIT = 1,
    --    @KeepTargetDb        BIT = 0,
    --    @Debug               BIT = 1

    SET NOCOUNT ON;    

    PRINT '';
    PRINT '------------------------------';
    PRINT 'DBG Procedure    =[cfg].[usp_RunRestoreTests]';

    IF RIGHT(@PrimaryDir,1) <> N'\' SET @PrimaryDir  = @PrimaryDir + N'\';
    IF RIGHT(@SecondaryDir,1) <> N'\' SET @SecondaryDir = @SecondaryDir + N'\';

    /* LOCAL VARIABLES */
    DECLARE
        @RunId              BIGINT,
        @Db                 SYSNAME,
        @TargetDb           SYSNAME,
        @StartedAt          DATETIME2(3),
        @StartedAttempt     DATETIME2(3),
        @Stamp              NVARCHAR(32),
        @Token              NVARCHAR(32),
        @MarkDesc           NVARCHAR(128),
        @TranName           SYSNAME,
        @LogFile_01         NVARCHAR(4000),
        @LogFile_02         NVARCHAR(4000),
        @LogFile_01_Mirror  NVARCHAR(4000),
        @LogFile_02_Mirror  NVARCHAR(4000),
        @Sql                NVARCHAR(MAX),        
        @RecoveryModelDesc  NVARCHAR(60);    
    
    IF OBJECT_ID('tempdb..#CanaryValidation') IS NOT NULL DROP TABLE #CanaryValidation;

    CREATE TABLE #CanaryValidation (
        SourceDatabase     SYSNAME,
        TargetDatabase     SYSNAME,
        
        CanaryBeforeName   NVARCHAR(128),
        CanaryMarkName     NVARCHAR(128),
        CanaryAfterName    NVARCHAR(128),

        SourceBeforeExists BIT,
        SourceMarkExists   BIT,
        SourceAfterExists  BIT,

        TargetBeforeExists BIT,
        TargetMarkExists   BIT,
        TargetAfterExists  BIT,

        CanaryValidated    BIT,
        CanaryPassed       BIT,
        CanaryMessage      NVARCHAR(4000));

    DECLARE @Dbs TABLE (DatabaseName SYSNAME PRIMARY KEY);
    -------------------------------------------------------------------------
    -- CREATE THE DB LIST
    -------------------------------------------------------------------------
    IF @DatabaseList IS NOT NULL AND LTRIM(RTRIM(@DatabaseList)) <> N''
        INSERT INTO @Dbs(DatabaseName) SELECT DISTINCT LTRIM(RTRIM(value)) FROM STRING_SPLIT(@DatabaseList, N',') WHERE LTRIM(RTRIM(value)) <> N'';
    ELSE
        INSERT INTO @Dbs(DatabaseName) SELECT d.name FROM sys.databases d WHERE d.database_id > 4 AND d.state_desc = 'ONLINE' AND d.is_read_only = 0;       

    DECLARE curDataBases CURSOR LOCAL FAST_FORWARD FOR SELECT DatabaseName FROM @Dbs ORDER BY DatabaseName;    

    OPEN curDataBases;
    FETCH NEXT FROM curDataBases INTO @Db;    
    -------------------------------------------------------------------------
    -- VALIDATE DATABASES EXISTS
    -------------------------------------------------------------------------
    WHILE @@FETCH_STATUS = 0
    BEGIN        
        IF DB_ID(@Db) IS NULL
            BEGIN 
                RAISERROR('Specified DB [%s] does not exists. ', 16, 1, @Db);
                RETURN;
            END;
        
        FETCH NEXT FROM curDataBases INTO @Db;
    END;

    CLOSE curDataBases;
    OPEN curDataBases;
    
    FETCH NEXT FROM curDataBases INTO @Db;
    -------------------------------------------------------------------------
    -- DB LOOP
    -------------------------------------------------------------------------
    WHILE @@FETCH_STATUS = 0
    BEGIN
        BEGIN TRY            
            SELECT @RecoveryModelDesc = recovery_model_desc FROM sys.databases WHERE name = @Db;

            IF @RecoveryModelDesc NOT IN ('FULL','BULK_LOGGED')
                RAISERROR('Database must be in FULL or BULK_LOGGED recovery for LOG-based restore tests. DB=%s', 16, 1, @Db);
                                             
            SELECT 
                @StartedAttempt  = SYSDATETIME(),
                @TargetDb   = @Db + N'_RestoreTest', 
                @Stamp      = REPLACE(REPLACE(REPLACE(CONVERT(NVARCHAR(30), SYSDATETIME(), 121), N'-', N''), N':', N''), N' ', N'_'),
                @MarkDesc   = LEFT(@Db + N'_RT_' + CONVERT(NVARCHAR(30), SYSDATETIME(), 121), 128),
                @Token      = REPLACE(CONVERT(NVARCHAR(36), NEWID()), N'-', N'');
            
            SET @Stamp = REPLACE(@Stamp, N'.', N'')                
            SET @TranName = N'RT_' + RIGHT(@Stamp, 9); -- <= 32 chars
            
            PRINT '';
            PRINT 'DBG DB           =' + QUOTENAME(@Db);
            PRINT 'DBG TargetDB     =' + QUOTENAME(@TargetDB);
            PRINT 'DBG Started at   =' + QUOTENAME(@StartedAttempt);
            PRINT '';
            PRINT 'DBG MarkDesc     =' + QUOTENAME(@MarkDesc);
            PRINT 'DBG TranName     =' + QUOTENAME(@TranName);
            PRINT '';
            PRINT 'DBG CanaryBefore =' + QUOTENAME(N'PITR_BEFORE_' + @Token);
            PRINT 'DBG CanaryMark   =' + QUOTENAME(N'MARK_' + @Token);
            PRINT 'DBG CanaryAfter  =' + QUOTENAME(N'PITR_AFTER_' + @Token);            
            -------------------------------------------------------------------------
            -- ENSURE CANARY 🐤 TABLE EXISTS IN SOURCE DB
            -------------------------------------------------------------------------
            SET @Sql = N'
USE ' + QUOTENAME(@Db) + N';
IF OBJECT_ID(N''dbo.PitrCanary'', N''U'') IS NULL
BEGIN
    CREATE TABLE dbo.PitrCanary (
        CanaryID   BIGINT IDENTITY(1,1) NOT NULL CONSTRAINT PK_PitrCanary PRIMARY KEY,
        CanaryName NVARCHAR(128) NOT NULL,
        MarkName   NVARCHAR(128) NULL,
        CreatedAt  DATETIME2(7) NOT NULL CONSTRAINT DF_PitrCanary_CreatedAt DEFAULT (SYSDATETIME()));
    
    CREATE INDEX IX_PitrCanary_CanaryName_CreatedAt ON dbo.PitrCanary(CanaryName, CreatedAt);
END;

';
            PRINT '';
            RAISERROR('1.0: >>> ENSURE CANARY TABLE EXISTS IN SOURCE DB >>> ',0,1) WITH NOWAIT;
            IF @Debug = 1 PRINT @Sql;
            
            EXEC sys.sp_executesql @Sql;
            -------------------------------------------------------------------------
            -- INSERT BEFORE-CANARY 🐤
            -------------------------------------------------------------------------
            SET @Sql =  N'
USE ' + QUOTENAME(@Db) + N'; 
INSERT INTO dbo.PitrCanary(CanaryName) VALUES (N''PITR_BEFORE_' + @Token + N''');

';          
            RAISERROR('2.0: >>> INSERT BEFORE-CANARY >>> ',0,1) WITH NOWAIT;

            IF @Debug = 1 PRINT @Sql;
            EXEC sys.sp_executesql @Sql;
            -------------------------------------------------------------------------
            -- MARKED TRANSACTION + MARK CANARY 🐤 INSIDE
            -------------------------------------------------------------------------
            SET @Sql = N'
USE ' + QUOTENAME(@Db) + N';
BEGIN TRAN ' + QUOTENAME(@TranName) + N' WITH MARK N''' + REPLACE(@MarkDesc,'''','''''') + N''';
    INSERT INTO dbo.PitrCanary(CanaryName, MarkName) VALUES (N''MARK_' + @Token + N''', N''' + REPLACE(@MarkDesc,'''','''''') + N''');
COMMIT TRAN ' + QUOTENAME(@TranName) + N';

';
            RAISERROR('3.0: >>> INSERT MARK INSIDE MARKED-TRANSACTION  >>> ',0,1) WITH NOWAIT;
            
            IF @Debug = 1 PRINT @Sql;
            EXEC sys.sp_executesql @Sql;
            -------------------------------------------------------------------------
            -- LOG-BACKUP #1 (CONTAINER WITH MARK)
            -------------------------------------------------------------------------
            SET @LogFile_01        = @PrimaryDir  + @Db + N'_LOG_MARK_' + @Stamp + N'_01.trn';
            SET @LogFile_01_Mirror = @SecondaryDir + @Db + N'_LOG_MARK_' + @Stamp + N'_01.trn';

            SET @Sql =
                N'
BACKUP LOG ' + QUOTENAME(@Db) +
                N' TO DISK = N''' + REPLACE(@LogFile_01,'''','''''') + N''' ' +
                CASE WHEN @UseMirror = 1
                     THEN N'MIRROR TO DISK = N''' + REPLACE(@LogFile_01_Mirror,'''','''''') + N''' '
                     ELSE N''
                END +
                N'WITH INIT, CHECKSUM, COMPRESSION;                
                ';
            RAISERROR('4.0: >>> CREATING LOG-BACKUP #1 (THIS FILE CONTAINS MARK TO STOP IN) >>> ',0,1) WITH NOWAIT;

            IF @Debug = 1 PRINT @Sql;
            EXEC sys.sp_executesql @Sql;
            -------------------------------------------------------------------------
            -- INSERT AFTER-CANARY 🐤
            -------------------------------------------------------------------------
            SET @Sql = N'
USE ' + QUOTENAME(@Db) + N'; 
INSERT INTO dbo.PitrCanary(CanaryName) VALUES (N''PITR_AFTER_' + @Token + N''');';
            RAISERROR('5.0: >>> INSERT AFTER-CANARY >>> ',0,1) WITH NOWAIT;

            IF @Debug = 1 PRINT @Sql;
            EXEC sys.sp_executesql @Sql;
            -------------------------------------------------------------------------
            -- LOG-BACKUP #2 (POST-BOUNDARY)            
            -------------------------------------------------------------------------
            SET @LogFile_02        = @PrimaryDir  + @Db + N'_LOG_MARK_' + @Stamp + N'_02.trn';
            SET @LogFile_02_Mirror = @SecondaryDir + @Db + N'_LOG_MARK_' + @Stamp + N'_02.trn';

            SET @Sql =
                N'
USE ' + QUOTENAME(@Db) + N'; 
BACKUP LOG ' + QUOTENAME(@Db) +
                N' TO DISK = N''' + REPLACE(@LogFile_02,'''','''''') + N''' ' +
                CASE WHEN @UseMirror = 1
                     THEN N'MIRROR TO DISK = N''' + REPLACE(@LogFile_02_Mirror,'''','''''') + N''' '
                     ELSE N''
                END +
                N'WITH INIT, CHECKSUM, COMPRESSION;';
            RAISERROR('6.0: >>> CREATING LOG-BACKUP #2 () >>> ',0,1) WITH NOWAIT;
            
            IF @Debug = 1 PRINT @Sql;
            EXEC sys.sp_executesql @Sql;            
            -------------------------------------------------------------------------
            -- RESTORE DATABASE TO SPECIFIED MARKER
            -------------------------------------------------------------------------
            EXEC cfg.usp_RestorePointInTime
                @SourceDB       = @Db,
                @TargetDB       = @TargetDb,                
                @StopBeforeMark = @TranName,    -- STOP MARK. WHEN USED, OVERRIDES @StopAtDate
                @DoCheckDB      = @DoCheckDB,
                @ReplaceTarget  = @ReplaceTarget,
                @Debug          = @Debug,
                @RunId          = @RunId    OUTPUT;

            /* UPDATE RESTORE-ID-RUN WITH CANARY TAGS */
            UPDATE log.RestoreTestRun SET
                CanaryBeforeName    = N'PITR_BEFORE_' + @Token,
                CanaryMarkName      = N'MARK_' + @Token,
                CanaryAfterName     = N'PITR_AFTER_' + @Token,
                CanaryValidated     = 0,
                CanaryPassed        = NULL, 
                CanaryMessage       = N'Canary generated. Pending validation'
            WHERE RestoreRunID      = @RunId;
            -------------------------------------------------------------------------
            -- VALIDATE CANARY 🐤
            -------------------------------------------------------------------------
            INSERT INTO #CanaryValidation
            EXEC cfg.usp_ValidatePitrCanary
                @SourceDB           = @Db,
                @TargetDB           = @TargetDb,
                @Token              = @Token

            /* UPDATE CANARY RESULTS IN RESTORE-RUN */
            UPDATE log.RestoreTestRun SET
                CanaryValidated     = Canary.CanaryValidated, 
                CanaryPassed        = Canary.CanaryPassed, 
                CanaryMessage       = Canary.CanaryMessage
            FROM #CanaryValidation Canary
            WHERE RestoreRunID      = @RunId;
            -------------------------------------------------------------------------
            -- OPTIONAL CLEANUP
            -------------------------------------------------------------------------
            IF @KeepTargetDb = 0
                BEGIN                     
                    SET @Sql = N'ALTER DATABASE ' + QUOTENAME(@TargetDb) + N' SET SINGLE_USER WITH ROLLBACK IMMEDIATE;';                    
                    EXEC sys.sp_executesql @Sql;

                    SET @Sql = N'DROP DATABASE ' + QUOTENAME(@TargetDb) + N';';
                    EXEC sys.sp_executesql @Sql;
                END;
            -------------------------------------------------------------------------
            -- SHOW CONTRACT - EXECUTION TRACE
            -------------------------------------------------------------------------
            BEGIN
                PRINT '';
                PRINT 'DBG Ended at     =' + QUOTENAME(SYSDATETIME()) + ' IN ' 
                    + FORMAT(DATEDIFF(MILLISECOND, @StartedAttempt, SYSDATETIME()) / 1000.0, 'N3')
                    + ' seconds.';                
            END;
        END TRY
        BEGIN CATCH            
            DECLARE @ErrMsg NVARCHAR(2048) = ERROR_MESSAGE();
            DECLARE @ErrNum INT = ERROR_NUMBER();

            PRINT '';                        
            PRINT 'DBG Ended at     =' + QUOTENAME(SYSDATETIME());            
            RAISERROR('DBG Procedure  =[cfg].[usp_RunRestoreTests]: FAILED. Error %d: %s', 16, 1, @ErrNum, @ErrMsg);
            PRINT '------------------------------';
            IF CURSOR_STATUS('local', 'curDataBases') >=  0 CLOSE curDataBases;
            IF CURSOR_STATUS('local', 'curDataBases') >= -1 DEALLOCATE curDataBases;

            RETURN;
        END CATCH;

        FETCH NEXT FROM curDataBases INTO @Db;
    END;

    CLOSE curDataBases;
    DEALLOCATE curDataBases;

    PRINT 'DBG Procedure    =' 
        + '[cfg].[usp_RunRestoreTests]: SUCCESSFULLY RUN! IN ' 
        + FORMAT(DATEDIFF(MILLISECOND, @StartedAt, SYSDATETIME()) / 1000.0, 'N3')
        + ' seconds.';
    PRINT '------------------------------';
END;