USE [DBAFramework];
GO

SET ANSI_NULLS ON
GO

SET QUOTED_IDENTIFIER ON
GO

CREATE OR ALTER PROCEDURE [cfg].[usp_GetActiveBasePath]
    @PathType   VARCHAR(30),            -- PRIMARY / SECONDARY / OTHER
    @BasePath   NVARCHAR(260) OUTPUT    -- FULL PATH 
AS
/*==============================================================================
  Procedure : cfg.usp_GetActiveBasePath  
  Project   : SQL Server Recovery & Validation Framework
  Author    : Dan Levi Menchaca Bedolla
  Role      : SQL Server DBA / Data Infrastructure & Reliability Engineering
  Created   : 2026
  Component : Storage Resolution & Validation Engine

  Purpose   :
        Resolves the active base path for backup and restore operations based on
        configuration and execution context.

  This procedure:
        - Determines the effective storage path based on path type and active configuration
        - Abstracts storage logic from execution procedures

  Inputs    :
        @PathType - (PRIMARY / SECONDARY / TESTS)

  Outputs   :
        @BasePath - Resolved base path.

  Dependencies :
      cfg.BackupPaths
      master.dbo.xp_fileexist

  Used By   :
      cfg.usp_BackupDatabase
      cfg.usp_GetRestoreTestBasePath

  Notes     :
      This procedure encapsulates storage resolution logic, ensuring that all
      components of the framework use a consistent and deterministic path
      selection strategy.

      In larger enterprise implementations, path validation logic could be
      separated into a dedicated infrastructure validation component.
==============================================================================*/
BEGIN
    -------------------------------------------------------------------------
    -- INPUT VARIABLES (UNCOMMENT FOR DEBUG MODE)
    ---------------------------------------------------------------------------
    --DECLARE 
    --    @BasePath   NVARCHAR(260), 
    --    @PathType   VARCHAR(30) = 'RESTORE_TEST';
    
    SET NOCOUNT ON;
    -------------------------------------------------------------------------
    -- NORMALIZE INPUT-DATA
    -------------------------------------------------------------------------    
    SET @PathType = NULLIF(LTRIM(RTRIM(@PathType)), N''); 
    -------------------------------------------------------------------------
    -- PRIOR-VALIDATIONS
    -------------------------------------------------------------------------    
    IF @PathType IS NULL
        BEGIN 
            RAISERROR('Specify a valid @PathType.', 16, 1);
            RETURN;
        END;

    /* LOCAL VARIABLES */
    DECLARE
        @FileExists             INT,
        @FileIsDirectory        INT,
        @ParentDirectoryExists  INT;

    DECLARE @PathCheck TABLE (
        FileExists              INT,
        FileIsDirectory         INT,
        ParentDirectoryExists   INT);
    -------------------------------------------------------------------------
    -- GET BASE PATH
    -------------------------------------------------------------------------
    SELECT TOP (1) @BasePath = LTRIM(RTRIM(BasePath))
    FROM cfg.BackupPaths
    WHERE PathType = @PathType
      AND IsActive = 1
    ORDER BY PathID DESC;

    IF @BasePath IS NULL
        BEGIN
            RAISERROR('No active BasePath found for PathType [%s].', 16, 1, @PathType);
            RETURN; 
        END;

    IF @BasePath = ''
        BEGIN
            RAISERROR('BasePath is empty for PathType [%s].', 16, 1, @PathType);
            RETURN; 
        END;
    ELSE
            
    IF RIGHT(@BasePath, 1) <> '\' SET @BasePath = @BasePath + '\';

    INSERT INTO @PathCheck     
    EXEC master.dbo.xp_fileexist @BasePath;

    SELECT
        @FileExists             = FileExists,
        @FileIsDirectory        = FileIsDirectory,
        @ParentDirectoryExists  = ParentDirectoryExists
    FROM @PathCheck;
   
    IF ISNULL(@FileIsDirectory, 0) <> 1
        IF ISNULL(@ParentDirectoryExists, 0) = 1
            BEGIN 
                RAISERROR('Resolved BasePath [%s] for PathType [%s] does not exist as a valid directory.', 16, 1, @BasePath, @PathType);
                RETURN;
            END
        ELSE
            BEGIN
                RAISERROR('Resolved BasePath [%s] for PathType [%s] is invalid or its parent directory does not exist.', 16, 1, @BasePath, @PathType);
                RETURN;
            END;
END;
GO
