USE [DBAFramework];
GO

SET ANSI_NULLS ON
GO

SET QUOTED_IDENTIFIER ON
GO

CREATE OR ALTER PROCEDURE [cfg].[usp_BackupByTierAndType]
    @TierID                 TINYINT,
    @BackupType             VARCHAR(10),        -- FULL/DIFF/LOG
    @UseMirrorToSecondary   BIT = 1,
    @WithVerify             BIT = 0
AS
/*==============================================================================
  Procedure : cfg.usp_BackupByTierAndType
  Project   : SQL Server Recovery & Validation Framework
  Author    : Dan Levi Menchaca Bedolla
  Role      : SQL Server DBA / Data Infrastructure & Reliability Engineering
  Created   : 2026
  Component : Backup Orchestration Engine

  Purpose   :
      Orchestrates batch backup execution across multiple databases based on
      policy-defined tiers and backup types.

      This procedure acts as a dispatcher that:
      - Reads database backup policies from cfg.DatabasePolicy
      - Filters databases by tier and inclusion rules
      - Executes cfg.usp_BackupDatabase for each eligible database
      - Ensures standardized and repeatable backup operations
      - Provides correlation and traceability across batch executions

  Inputs    :
        @TierID
        @BackupType      
        @UseMirrorToSecondary
        @WithVerify

  Outputs   :
      - Executes backups across multiple databases
      - Generates telemetry entries in dbo.BackupRun for each database processed
      - Provides batch-level traceability via CorrelationID

  Dependencies :
      cfg.DatabasePolicy
      cfg.usp_BackupDatabase
      dbo.BackupRun

  Used By   :
      SQL Server Agent Jobs (FULL / DIFF / LOG scheduling)

  Notes     :
      This procedure is part of the orchestration layer of the backup subsystem.
      It enables centralized execution of backup strategies across environments
      using a policy-driven approach.
==============================================================================*/
BEGIN
    -------------------------------------------------------------------------
    -- INPUT VARIABLES (FOR DEBUG-MODE DE-COMENTARIZE)
    ---------------------------------------------------------------------------
    --DECLARE 
    --    @TierID                 TINYINT = 1,
    --    @BackupType             VARCHAR(10) = 'FULL',        -- FULL/DIFF/LOG
    --    @UseMirrorToSecondary   BIT = 0,
    --    @WithVerify             BIT = 0

    SET NOCOUNT ON;
    -------------------------------------------------------------------------
    -- NORMALIZE INPUT-DATA
    -------------------------------------------------------------------------
    SET @BackupType = UPPER(LTRIM(RTRIM(@BackupType)));
    -------------------------------------------------------------------------
    -- PRIOR-VALIDATIONS
    -------------------------------------------------------------------------    
    IF @BackupType NOT IN ('FULL','DIFF','LOG')
        BEGIN
            RAISERROR('Use correct parameter setting for: @BackupType. Use FULL, DIFF, or LOG.', 16, 1)
            RETURN;
        END;
    
    IF NOT EXISTS (SELECT 1 FROM cfg.DatabasePolicy where TierID = @TierID)
        BEGIN
            RAISERROR('No database found for specified TierID in [cfg].[DatabasePolicy].', 16, 1);
            RETURN;
        END;

    IF OBJECT_ID('tempdb..#Work') IS NOT NULL DROP TABLE #Work;

    /* LOCAL VARIABLES */
    DECLARE 
        @db SYSNAME, 
        @CorrelationID UNIQUEIDENTIFIER = NEWID();
    -------------------------------------------------------------------------
    -- GET DATABASES FOR SPECIFIED PARAMETERS
    -------------------------------------------------------------------------
    SELECT p.DatabaseName
    INTO #Work
    FROM cfg.DatabasePolicy p
    JOIN sys.databases d
        ON d.name = p.DatabaseName
    WHERE p.IsIncluded = 1
      AND p.TierID = @TierID
      AND d.state_desc = 'ONLINE'
      AND p.DatabaseName <> 'tempdb'
      AND ( (@BackupType = 'FULL' AND p.BackupFull = 1)
         OR (@BackupType = 'DIFF' AND p.BackupDiff = 1)
         OR (@BackupType = 'LOG'  AND p.BackupLog  = 1))
      -- Guard: LOG only for FULL/BULK_LOGGED
      AND (@BackupType <> 'LOG' OR d.recovery_model_desc IN ('FULL','BULK_LOGGED'))
    ORDER BY
    CASE WHEN p.DatabaseName IN ('master','msdb','model') THEN 0 ELSE 1 END,
      p.DatabaseName;
    
    IF NOT EXISTS (SELECT 1 FROM #Work)
        BEGIN
            RAISERROR('No database found to backup with specifed parameters.', 16, 1);
            DROP TABLE #Work;
            RETURN;
        END;
    ---------------------------------------------------------------------
    -- BACKUP DATABASE LOOP
    ---------------------------------------------------------------------
    DECLARE db_cursor CURSOR LOCAL FAST_FORWARD FOR SELECT DatabaseName FROM #Work;

    OPEN db_cursor;
    FETCH NEXT FROM db_cursor INTO @db;

    WHILE @@FETCH_STATUS = 0
    BEGIN
        IF DB_ID(@db) IS NULL
            RAISERROR('Specified DB [%s] does not exists. ', 0, 1, @db);
        ELSE
            EXEC cfg.usp_BackupDatabase
                @DatabaseName =             @db,
                @BackupType =               @BackupType,
                @TierID =                   @TierID,
                @PathType =                 'PRIMARY',
                @UseMirrorToSecondary =     @UseMirrorToSecondary,
                @WithVerify =               @WithVerify,
                @CopyOnly =                 0,
                @WithChecksum =             1,
                @WithCompression =          1,
                @StatsPercent =             10,
                @CorrelationID =            @CorrelationID;

        FETCH NEXT FROM db_cursor INTO @db;
    END;

    CLOSE db_cursor;
    DEALLOCATE db_cursor;
    ---------------------------------------------------------------------
    -- G) SHOW CONTRACT
    ---------------------------------------------------------------------
    SELECT  BackupRunID, StartedAt, EndedAt, DatabaseName, BackupType,
            TierID, PathType, PrimaryFile, SecondaryFile, UsedMirror,
            WithChecksum, WithCompression, IsCopyOnly, VerifyRequested, 
            VerifySucceeded, BackupSizeBytes, CompressedSizeBytes, 
            Succeeded, ErrorNumber, ErrorMessage, HostName, InstanceName,
            SqlVersion, CorrelationID
    FROM log.BackupRun
    WHERE CorrelationID = @CorrelationID
    ORDER BY BackupRunID;
END;
